<h1 class="mt-2">
  <strong> Welcome, <%= current_user.first_name.capitalize%> <%=current_user.last_name.capitalize %> 👋👋🏽 </strong>
</h1>

<div class="mt-4">
  <% if current_user.talent? %>
    <%= render 'talent' %>
  <% elsif current_user.recruiter? %>
    <%= render 'recruiter' %>
   <% elsif current_user.admin? %>
     <%= render 'admin' %>
  <% end %>
</div>




